# Pandas Series

In [4]:
import numpy as np
import pandas as pd
s=pd.Series([1,2,3,4,5])
print(s)
a=pd.Series(['a','b','c','d','e'])
print(a)

0    1
1    2
2    3
3    4
4    5
dtype: int64
0    a
1    b
2    c
3    d
4    e
dtype: object

In [5]:
import numpy as np
import pandas as pd
score=pd.Series([23,45,65,43,10,15,21,37,9,4,11])
print(score)

0     23
1     45
2     65
3     43
4     10
5     15
6     21
7     37
8      9
9      4
10    11
dtype: int64

In [6]:
import numpy as np
import pandas as pd
i=pd.Index(['Rohit','Rahul','Virat','Sky','DK','Axar','Hardik','Ashwin','Arshdeep','Chahal','Kumar'])
score=pd.Series([23,45,65,43,10,15,21,37,9,4,11],index=i)
print(score)

Rohit       23
Rahul       45
Virat       65
Sky         43
DK          10
Axar        15
Hardik      21
Ashwin      37
Arshdeep     9
Chahal       4
Kumar       11
dtype: int64