# import mysql connector

In [1]:
import mysql.connector as con

# connectioin to database

In [2]:
import mysql.connector as con
new_db=con.connect(
    host="localhost",
    user="root",
    password="root"
)
print (new_db)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001CD69B0BE20>

# creating database

In [ ]:
import mysql.connector as con
new_db=con.connect(
    host="localhost",
    user="root",
    password="root"
)
my_cursor=new_db.cursor()
my_cursor.execute("SHOW DATABASES")
for a in my_cursor:
    print(a)

# creating tables and show data

In [ ]:
import mysql.connector as con
new_db=con.connect(
    host="localhost",
    user="root",
    password="root",
    database="college"
)
my_cursor=new_db.cursor()
query="CREATE TABLE student (name VARCHAR(200), Regno VARCHAR(10))"
my_cursor.execute(query)

# list all tables in database

In [ ]:
import mysql.connector as con
new_db=con.connect(
    host="localhost",
    user="root",
    password="root",
    database="college"
)
my_cursor=new_db.cursor()
query="SHOW TABLES"
my_cursor.execute(query)
for n in my_cursor:
    print(n)

# inserting data into tables

In [ ]:
import mysql.connector as con
new_db=con.connect(
    host="localhost",
    user="root",
    password="root",
    database="college"
)
new_cursor=new_db.cursor()
query="INSERT INTO student (name,Regno) VALUES (%s,%s)"
values=('vivek','393CS20032')
new_cursor.execute(query,values)
new_db.commit()
print(new_cursor.rowcount,"new record inserted")

# inserting multiple values into the table

In [ ]:
import mysql.connector as con
new_db=con.connect(
    host="localhost",
    user="root",
    password="root",
    database="college"
)
new_cursor=new_db.cursor()
query="INSERT INTO student (name,Regno) VALUES (%s,%s)"
values=[("avadhoot","393CS20013"),
        ("jahid","393CS20008"),
        ("tanishk","393CS20034"),
        ("nihal","393CS20018")
       ]
new_cursor.executemany(query,values)
new_db.commit()
print(new_cursor.rowcount,"new record inserted")

# displaying records from table

In [ ]:
import mysql.connector as con
new_db=con.connect(
    host="localhost",
    user="root",
    password="root",
    database="college"
)
my_cursor=new_db.cursor()
query="SELECT * FROM student"
my_cursor.execute(query)
for n in my_cursor:
    print(n)

# display particular record from database

In [ ]:
import mysql.connector as con
new_db=con.connect(
    host="localhost",
    user="root",
    password="root",
    database="college"
)
my_cursor=new_db.cursor()
query="SELECT name FROM student"
my_cursor.execute(query)
for n in my_cursor:
    print(n)