# import mysql connector

In [3]:
import mysql.connector as con

# connectioin to database

In [4]:
import mysql.connector as con
new_db=con.connect(
    host="localhost",
    user="root",
    password="root"
)
print (new_db)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001FEBC673D00>

# creating database

In [1]:
import mysql.connector as con
new_db=con.connect(
    host="localhost",
    user="root",
    password="root"
)
my_cursor=new_db.cursor()
my_cursor.execute("CREATE DATABASE college")

DatabaseError: 1007 (HY000): Can't create database 'college'; database exists

In [2]:
import mysql.connector as con
new_db=con.connect(
    host="localhost",
    user="root",
    password="root"
)
my_cursor=new_db.cursor()
my_cursor.execute("SHOW DATABASES")
for a in my_cursor:
    print(a)

('college',)
('information_schema',)
('mysql',)
('performance_schema',)
('sakila',)
('sys',)
('world',)

# creating tables and show data

In [3]:
import mysql.connector as con
new_db=con.connect(
    host="localhost",
    user="root",
    password="root",
    database="college"
)
my_cursor=new_db.cursor()
query="CREATE TABLE student (name VARCHAR(200), Regno VARCHAR(10))"
my_cursor.execute(query)

# list all tables in database

In [1]:
import mysql.connector as con
new_db=con.connect(
    host="localhost",
    user="root",
    password="root",
    database="college"
)
my_cursor=new_db.cursor()
query="SHOW TABLES"
my_cursor.execute(query)
for n in my_cursor:
    print(n)

('student',)

# inserting data into tables

In [2]:
import mysql.connector as con
new_db=con.connect(
    host="localhost",
    user="root",
    password="root",
    database="college"
)
new_cursor=new_db.cursor()
query="INSERT INTO student (name,Regno) VALUES (%s,%s)"
values=('vivek','393CS20032')
new_cursor.execute(query,values)
new_db.commit()
print(new_cursor.rowcount,"new record inserted")

1 new record inserted

# inserting multiple values into the table

In [3]:
import mysql.connector as con
new_db=con.connect(
    host="localhost",
    user="root",
    password="root",
    database="college"
)
new_cursor=new_db.cursor()
query="INSERT INTO student (name,Regno) VALUES (%s,%s)"
values=[("avadhoot","393CS20013"),
        ("jahid","393CS20008"),
        ("tanishk","393CS20034"),
        ("nihal","393CS20018")
       ]
new_cursor.executemany(query,values)
new_db.commit()
print(new_cursor.rowcount,"new record inserted")

4 new record inserted

# displaying records from table

In [4]:
import mysql.connector as con
new_db=con.connect(
    host="localhost",
    user="root",
    password="root",
    database="college"
)
my_cursor=new_db.cursor()
query="SELECT * FROM student"
my_cursor.execute(query)
for n in my_cursor:
    print(n)

('vivek', '393CS20032')
('avadhoot', '393CS20013')
('jahid', '393CS20008')
('tanishk', '393CS20034')
('nihal', '393CS20018')